body {
  text-align: center;
  font-family: "Happy Monkey", cursive;
  background: linear-gradient(#84a98c, #52796f);
  color: #ffffff;
}

h1,
h2,
h3,
h4,
p {
  text-shadow: 0 0 1px black;
}

#my-img {
  width: 250px;
  border-radius: 50%;
  border: 6px solid #2f3e46;
  margin-bottom: 10px;
}

#bday-age {
  background: #2f3e46;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
}

#bday-date {
  margin: 0;
  background: #2f3e46;
  padding: 5px 10px;
  border-radius: 5px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
}

.gift-hint {
  margin-top: 0;
}

.gift-img {
  margin: 20px auto;
  max-width: 650px;
  height: 500px;
  border: 6px solid #2f3e46;
  border-radius: 10px;
  background-image: url("./images/gift-covers.jpg");
  background-size: cover;
}

#gift-img-happy:hover {
  background-image: url("./images/happy.gif");
}

#gift-img-shock:hover {
  background-image: url("./images/shock.gif");
}

#gift-img-genius:hover {
  background-image: url("./images/geniuss.gif");
  background-size: cover;
}
